* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
    background-color: #dddddd;
    padding: 3px 6px;
    border-radius: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dddddd;
    padding: 10px;
}

header > nav {
    display: flex;
    gap: 10px;
}

header > nav > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

header > nav > a:hover {
    text-decoration: underline;
}

header > nav > a.active {
    color: #3e92ff;
}

main {
    padding: 20px;
}

button {
    display: block;
    font-size: 1rem;
    background-color: #dddddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:active {
    background-color: #cccccc;
}